.titulo {
    justify-content: center;
    align-items: center;
    display: flex;
}

.botao {
    font-size: medium;
    height: 35px;
}


.container {
    font-family: 'Rubik', sans-serif;
}


.caixa1, .caixa2 {
    width: 250px;
    height: 50px;
    background-color: #f8f8f8;
  }

  .resultado {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  body {
    background-color: #f7f7f7;
  }
